@import "tailwindcss";

/* Global Styles */

:root {
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-pacifico: 'Pacifico', cursive;
  }
  
  h1, h2, h3 {
    font-family: var(--font-bebas);
    letter-spacing: -0.03em; /* Tight spacing for bold fonts */
  }
  
  body {
    font-family: var(--font-inter);
    font-weight: 300; /* Light for body */
    background-color:#F5F5F5;
    scroll-behavior: smooth;
  }
  
  .button {
    font-family: var(--font-inter);
    font-weight: 700; /* Bold for buttons */
  }